body{
	background-color: rgba(64, 64, 64, 1);
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
}



@-webkit-keyframes pulse {
	0% { box-shadow:0 0 8px #ad0101, inset 0 0 8px #ad0101; }
	50% { box-shadow:0 0 16px #ad0101, inset 0 0 14px #ad0101; }
	100% { box-shadow:0 0 8px #ad0101, inset 0 0 8px #ad0101; }
}

#navBarImg{
	height: 40px; /*same height as navbar */
	width: auto;
}


/*.display-4{
	font-family: 'Source Sans Pro', sans-serif;
}*/

#marker{
	position: absolute;
	width: 12px;
	height: 12px;
	background: #ad0101;
	border-radius:50px;
	box-shadow: 0 0 8px #ad0101, inset 0 0 8px #ad0101;
	-webkit-animation: pulse 1s linear 1s infinite;

}

#myCover{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/*background-image: url(../assets/RDM.png);*/
	height: 100vh;
}


.navbar-nav{
	font-size: 1rem;
}

.myNavDropdown{
	font-size:  1rem;
}
.myNavDropdownItem{
	color: white;
}

.jumbotron{
	font-weight:200;
}
.spacer{
	height:56px; /*same height as navbar */
	width:100%;
}

.coverNav{
	position: relative;
}
.fullPageContain{
	height: 100vh;
	width: 100%;
}
.centralBanner{
	background-color: transparent;
}

.myGray{
	background-color: rgba(64, 64, 64, 1);
}

.myGray2{
	background-color: rgba(30, 30, 30, 1);
}

.myRed{
	background-color: rgba(102, 0, 0, 1);
}

.myBlue{
	background-color: rgba(52, 73, 94, 1);
}

.mapPic{
	/*height: 100vmin;*/
	/*width: 100vmin;*/
	height: auto;
	width: auto;
	margin: auto;
	display: block;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}